# .github/workflows/release.yml
name: goreleaser

on:
  pull_request:
  push:
    # run only against tags
    tags:
      - "*"

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
      
      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0
      
      - name: Install dependencies for installers
        run: |
          sudo apt-get update
          sudo apt-get install -y rpm
      
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest Build Provenance
        if: ${{ github.event.repository.visibility == 'public' }}
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: "dist/**"